@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>No Encontrado</h3>

<p>El recurso buscado no ha podido ser encontrado.
    <a asp-controller="Empleado" asp-action="Index">Click aqui</a> para regresar.
    </p>